.h-screen{
    height: 100vh;
}

.h-full{
    height: 100%;
}

.h-content{
    height: fit-content;
}

.w-content{
    width: fit-content;
}

.w-min-content{
    width: min-content;
}


.w-screen{
    width: 100vw;
}
.w-full{
    width: 100%;
}
.w-50{
    width: 80%;
}
.w-200{
    width: 200px;
}

.max-w-1280{
    max-width: 1280px;
}


.text-sm {
    font-size: 14px;
}

.text-md {
    font-size: 16px;
}

.text-lg {
    font-size: 18px;
}

.text-xl {
    font-size: 20px;
}

.text-2xl {
    font-size: 24px;
}

.text-3xl {
    font-size: 30px;
}

.border {
    border-width: 1px;
}

.br-1 {
    border-radius: 4px;
}

.br-10 {
    border-radius: 10px;
}